{% extends "template.html" %}
{% block body %}
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
           <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Device {{action}}</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="../computers/{{action}}_computer" method="post">
                <div class="card-body">
                  <input  type="text" name="id" style="display:none" value="{{old_computer.id}}"/>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Device Name</label>
                    <input type="text" name="name" value="{{old_computer.name}}" class="form-control" id="exampleInputEmail1" placeholder="name your device">
                  </div>
                   <!-- IP mask -->
                  <div class="form-group">
                    <label>Host IP:</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-laptop"></i></span>
                      </div>
                      <input type="text" name="host" value="{{old_computer.host}}" class="form-control" data-inputmask-inputformat="_._." data-inputmask="'alias': 'ip'" data-mask>
                    </div>
                    <!-- /.input group -->
                  </div>
                <!-- /.form group -->
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
<!-- /.content-wrapper -->
{% endblock %}

{% block script %}
<!-- InputMask -->
<script src="/static/plugins/moment/moment.min.js"></script>
<script src="/static/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
<script>
   $('[data-mask]').inputmask()
</script>
{% endblock %}