<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script>
        console.log("hello")
    </script>
</head>
<body>

<a href="../">首页</a>

<h1>add model</h1>
<form action="../models/add_model" method="post">
    name:<input name="name" type="text"/>
    type:<input name="type" type="text">
    location:<input name="location" type="text">
    <input type="submit">
</form>

<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>type</th>
        <th>location</th>
        <th>operation</th>
    </tr>
    {% for model in models %}
    <tr>
        <td>{{model.id}}</td>
        <td>{{model.name}}</td>
        <td>{{model.type}}</td>
        <td>{{model.location}}</td>
         <td>
            <form action="delete_model" method="post">
                <input type="text" name="id" value="{{model.id}}" style="display:none"/>
                <button type="submit">delete</button>
            </form>
            <form action="find_model" method="post">
                <input type="text" name="id" value="{{model.id}}" style="display:none"/>
                <button type="submit">modify</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>