{% extends "template.html" %}
{% block body %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2">
            <!-- DONUT CHART -->
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">Length Static</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <canvas id="donutChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- PIE CHART -->
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">Type Static</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <canvas id="pieChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col (LEFT) -->
          <div class="col-md-5">
            <!-- BAR CHART -->
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">Pass Static</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="chart">
                  <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- STACKED BAR CHART -->
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">Char Static</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="chart">
                  <canvas id="stackedBarChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

          </div>
          <!-- /.col (Middle) -->
          <div class="col-md-5">
              <div class="card">
                <div class="card-body">
                    <div class="row">
                      <div class="col-12 col-sm-10">
                          <div class="form-group">
                             <div class="select2-purple">
                                <select class="select2" multiple="multiple" data-placeholder="Select a method" data-dropdown-css-class="select2-purple" style="width: 100%;">
                                  <option>Alabama</option>
                                  <option>Alaska</option>
                                  <option>California</option>
                                  <option>Delaware</option>
                                </select>
                              </div>
                          </div>
                        </div>
                       <div class="col-12 col-sm-2">
                            <div class="input-group" style="width:100%">
                                 <div class="input-group-prepend">
                                     <button class="btn btn-block btn-primary">Cluster</button>
                                 </div>
                            </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 col-sm-10">
                          <div class="form-group">
                             <div class="select2-purple">
                                <select class="select2" multiple="multiple" data-placeholder="Select a method" data-dropdown-css-class="select2-purple" style="width: 100%;">
                                  <option>Alabama</option>
                                  <option>Alaska</option>
                                  <option>California</option>
                                  <option>Delaware</option>
                                </select>
                              </div>
                          </div>
                        </div>
                       <div class="col-12 col-sm-2">
                            <div class="input-group" style="width:100%">
                                 <div class="input-group-prepend">
                                     <button class="btn btn-block btn-primary">Classify</button>
                                 </div>
                            </div>
                      </div>
                    </div>
                </div>
              </div>
              <div class="card">
<!--                  <div class="card-header">-->
<!--                      <div class="card-title">Detail</div>-->
<!--                      <div class="card-tools">-->
<!--                         <button type="button" class="btn  btn-sm btn-primary">Cluster</button>-->
<!--                         <button type="button" class="btn  btn-sm btn-primary">Cluster</button>-->
<!--                      </div>-->
<!--                  </div>-->
                  <div class="card-body">
                      <table id="example1" class="table table-bordered">
                        <thead>
                          <tr>
                              <th>password</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for item in passwords %}
                        <tr>
                          <td>{{item}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                  </div>
              </div>
          </div>
          <!-- /.col (RIGHT) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

      <div style="display:none" id="data">
      {{data}}
      </div>

  </div>
  <!-- /.content-wrapper -->
{% endblock %}

{% block script %}
<script>
  $(function () {
    $('.select2').select2()
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })
    //Bootstrap Duallistbox
    $('.duallistbox').bootstrapDualListbox()

    data = $('#data').html()
    data = JSON.parse(data)
    most_dict = data['most']
    len_dict = data['len_dict']
    char_dict = data['char_dict']
    type_dict = data['type_dict']

    var lengthData = {
      labels: Object.keys(len_dict),
      datasets: [
        {
          data:Object.values(len_dict),
          backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
        }
      ]
    }
    var pieData  ={
      labels: Object.keys(type_dict),
      datasets: [
        {
          data:Object.values(type_dict),
          backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
        }
      ]
    }

    var wordChartData = {
      labels  : Object.keys(most_dict),
      datasets: [
        {
          label               : 'Passwords',
          backgroundColor     : 'rgba(60,141,188,0.9)',
          borderColor         : 'rgba(60,141,188,0.8)',
          pointRadius          : false,
          pointColor          : '#3b8bba',
          pointStrokeColor    : 'rgba(60,141,188,1)',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data                : Object.values(most_dict),
        }
      ]
    }
    var charChartData = {
      labels  : Object.keys(char_dict),
      datasets: [
        {
          label               : 'Chars',
          backgroundColor     : 'rgba(60,141,188,0.9)',
          borderColor         : 'rgba(60,141,188,0.8)',
          pointRadius          : false,
          pointColor          : '#3b8bba',
          pointStrokeColor    : 'rgba(60,141,188,1)',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data                : Object.values(char_dict),
        }
      ]
    }

    var wordChartOptions = {
      maintainAspectRatio : false,
      responsive : true,
      legend: {
        display: false
      },
      scales: {
        xAxes: [{
          gridLines : {
            display : false,
          }
        }],
        yAxes: [{
          gridLines : {
            display : false,
          }
        }]
      }
    }
    //-------------
    //- Length CHART -
    //-------------
    var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
    var donutOptions     = {
      maintainAspectRatio : false,
      responsive : true,
    }

    var donutChart = new Chart(donutChartCanvas, {
      type: 'doughnut',
      data: lengthData,
      options: donutOptions
    })

    //-------------
    //- Type CHART -
    //-------------
    var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
    var pieOptions     = {
      maintainAspectRatio : false,
      responsive : true,
    }

    var pieChart = new Chart(pieChartCanvas, {
      type: 'pie',
      data: pieData,
      options: pieOptions
    })


    //-------------
    //- BAR CHART -
    //-------------
    var barChartCanvas = $('#barChart').get(0).getContext('2d')

    var barChartOptions = {
      responsive              : true,
      maintainAspectRatio     : false,
      datasetFill             : false
    }
    var barChart = new Chart(barChartCanvas, {
      type: 'bar',
      data: wordChartData,
      options: barChartOptions
    })

    //---------------------
    //- STACKED BAR CHART -
    //---------------------
    var stackedBarChartCanvas = $('#stackedBarChart').get(0).getContext('2d')

    var stackedBarChartOptions = {
      responsive              : true,
      maintainAspectRatio     : false,
      scales: {
        xAxes: [{
          stacked: true,
        }],
        yAxes: [{
          stacked: true
        }]
      }
    }
    var stackedBarChart = new Chart(stackedBarChartCanvas, {
      type: 'bar',
      data: charChartData,
      options: stackedBarChartOptions
    })
  })
</script>
{% endblock %}
