{% extends "template.html" %}

{% block body %}
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-primary">
                          <div class="card-header">
                            <h3 class="card-title">From Rules</h3>
                          </div>
                          <!-- /.card-header -->
                          <!-- form start -->
                          <form role="form">
                            <div class="card-body">
                              <div class="form-group">
                                <label>Bases</label>
                                <div class="select2-purple">
                                    <select class="select2" multiple="multiple" data-placeholder="" data-dropdown-css-class="select2-purple" style="width: 100%;">
                                      <option>text1</option>
                                      <option>text2</option>
                                      <option>text3</option>
                                      <option>text4</option>
                                    </select>
                                </div>
                              </div>
                              <div class="form-group">
                                <label>Rules</label>
                                <div class="select2-purple">
                                    <select class="select2" multiple="multiple" data-placeholder="" data-dropdown-css-class="select2-purple" style="width: 100%;">
                                      <option>best64</option>
                                      <option>rockYou</option>
                                      <option>rule1</option>
                                      <option>rule2</option>
                                    </select>
                                </div>
                              </div>
                              <div class="form-group">
                                 <label>Generate Num</label>
                                 <input type="text" class="form-control"/>
                              </div>
                              <div class="form-group">
                                     <label>Save</label>
                                     <div class="input-group">
                                         <div class="input-group-prepend">
                                             <span class="input-group-text success">Path</span>
                                         </div>
                                         <input list="paths1"  type="text" name="txt2" value="" class="form-control" id="input_path1" placeholder="">
                                         <datalist id="paths1">
                                           <select id="select_path1">
                                           </select>
                                         </datalist>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                              <button type="submit" class="btn btn-primary">Generate</button>
                            </div>
                          </form>
                        </div>
                    <!-- /.card -->
                    <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title">From Models</h3>
                      </div>
                      <!-- /.card-header -->
                      <!-- form start -->
                      <form role="form">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Bases</label>
                                <div class="select2-purple">
                                    <select class="select2" multiple="multiple" data-placeholder="" data-dropdown-css-class="select2-purple" style="width: 100%;">
                                      <option>text1</option>
                                      <option>text2</option>
                                      <option>text3</option>
                                      <option>text4</option>
                                    </select>
                                </div>
                              </div>
                            <div class="form-group">
                                <label>Models</label>
                                <div class="select2-purple">
                                    <select class="select2" multiple="multiple" data-placeholder="" data-dropdown-css-class="select2-purple" style="width: 100%;">
                                      <option>best64</option>
                                      <option>rockYou</option>
                                      <option>rule1</option>
                                      <option>rule2</option>
                                    </select>
                                </div>
                              </div>
                            <div class="form-group">
                                 <label>Generate Num</label>
                                 <input type="text" class="form-control"/>
                            </div>
                            <div class="form-group">
                                     <label>Save</label>
                                     <div class="input-group">
                                         <div class="input-group-prepend">
                                             <span class="input-group-text success">Path</span>
                                         </div>
                                         <input list="paths2"  type="text" name="txt2" value="" class="form-control" id="input_path2" placeholder="">
                                         <datalist id="paths2">
                                           <select id="select_path2">
                                           </select>
                                         </datalist>
                                    </div>
                                </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                          <button type="submit" class="btn btn-primary">Generate</button>
                        </div>
                      </form>
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-md-6">
                    <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title">From InFo</h3>
                      </div>
                      <!-- /.card-header -->
                      <!-- form start -->
                      <form role="form">
                        <div class="card-body">
                          <div class="row">
                              <div class="col-sm-6">
                                  <div class="form-group">
                                    <label>Names</label>
                                    <input type="email" class="form-control" id="exampleInputEmail111" placeholder="justin;mike;jack;">
                                  </div>
                                  <div class="form-group">
                                    <label>Emails</label>
                                    <input type="email" class="form-control" id="exampleInputEmail112" placeholder="email1;email2;email3;">
                                  </div>
                                  <div class="form-group">
                                    <label>Phones</label>
                                    <input type="email" class="form-control" id="exampleInputEmail113" placeholder="phone1;phone2;phone3;">
                                  </div>
                                  <div class="form-group">
                                    <label>Accounts</label>
                                    <input type="email" class="form-control" id="exampleInputEmail117" placeholder="account1;account2;account3;">
                                  </div>
                              </div>
                              <div class="col-sm-6">
                                  <div class="form-group">
                                    <label>Lovers</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1119" placeholder="Enter her/his name">
                                  </div>
                                  <div class="form-group">
                                    <label>Mather</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1114" placeholder="Enter her name">
                                  </div>
                                  <div class="form-group">
                                    <label>Father</label>
                                    <input type="email" class="form-control" id="exampleInputEmail115" placeholder="Enter his name">
                                  </div>
                                  <div class="form-group">
                                    <label>Friends</label>
                                    <input type="email" class="form-control" id="exampleInputEmail116" placeholder="jack;mike;justin">
                                  </div>
                              </div>
                          </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                     <label>Settings</label>
                                     <div class="input-group">
                                         <div class="input-group-prepend">
                                             <span class="input-group-text success">Path</span>
                                         </div>
                                         <input list="paths"  type="text" name="txt2" value="" class="form-control" id="input_path" placeholder="">
                                         <datalist id="paths">
                                           <select id="select_path">
                                           </select>
                                         </datalist>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                               <div class="form-group">
                                     <div class="form-check">
                                      <input class="form-check-input" type="checkbox">
                                      <label class="form-check-label">mode1</label>
                                    </div>
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" checked>
                                      <label class="form-check-label">mode2</label>
                                    </div>
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" disabled>
                                      <label class="form-check-label">mode3</label>
                                    </div>
                                </div>
                          </div>
                            <div class="col-sm-6">
                               <div class="form-group">
                                     <div class="form-check">
                                      <input class="form-check-input" type="radio" name="radio1">
                                      <label class="form-check-label">1M</label>
                                    </div>
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" name="radio1" checked>
                                      <label class="form-check-label">10M</label>
                                    </div>
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" disabled>
                                      <label class="form-check-label">100M</label>
                                    </div>
                                </div>
                          </div>
                          </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                          <button type="submit" class="btn btn-primary">Generate</button>
                        </div>
                      </form>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>

  </div>
<!-- /.content-wrapper -->
{% endblock %}

{% block script %}
<script type="text/javascript">
$(function () {
    $('.select2').select2()
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })
    $('.duallistbox').bootstrapDualListbox()
    $('.slider').bootstrapSlider()

})
</script>
{% endblock %}