{% extends "template.html" %}
{% block body %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
</section>

<div style="display:none" id="data1">
{{data1}}
</div>
<div style="display:none" id="data2">
{{data2}}
</div>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <!-- DONUT CHART -->
        <div class="card card-primary">
          <div class="card-header">
              <h3 class="card-title">Statistics</h3>
          </div>
          <div class="card-body">
              <ul class="list-group  mb-3">
                  <li class="list-group-item">
                    <b>Matched Number:</b> <a class="float-right">{{analyze.match_data}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Size of Dict1:</b> <a class="float-right">{{analyze.train_size}}</a>
                  </li>
                   <li class="list-group-item">
                    <b>Size of Dict2:</b> <a class="float-right">{{analyze.test_size}}</a>
                  </li>
                   <li class="list-group-item">
                    <b>Matched Rate of Dict1:</b> <a class="float-right">{{analyze.match_rate1}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Matched Rate of Dict2:</b> <a class="float-right">{{analyze.match_rate2}}</a>
                  </li>
                </ul>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <div class="row">
            <div class="col-sm-4">
                 <div class="card">
                    <div class="card-header">
                    <h3 class="card-title">Common</h3>
                  </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                    <table class="table">
                      <tbody>
                        {% for item in analyze.matched %}
                        <tr>
                          <td>{{item}}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                    <!-- /.card-body -->
                 </div>
                 <!-- /.card -->
            </div>
            <div class="col-sm-4">
                 <div class="card">
                    <div class="card-header">
                    <h3 class="card-title">Unique of D1</h3>
                  </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                    <table class="table">
                      <tbody>
                        {% for item in analyze.match_only_in_train %}
                        <tr>
                          <td>{{item}}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                    <!-- /.card-body -->
                 </div>
                 <!-- /.card -->
            </div>
            <div class="col-sm-4">
                 <div class="card">
                    <div class="card-header">
                    <h3 class="card-title">Unique of D2</h3>
                  </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                    <table class="table">
                      <tbody>
                        {% for item in analyze.match_only_in_test %}
                        <tr>
                          <td>{{item}}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                    <!-- /.card-body -->
                 </div>
                 <!-- /.card -->
            </div>
        </div>

      </div>
      <!-- /.col (LEFT) -->
      <div class="col-md-3">
        <!-- BAR CHART -->
        <div class="card card-primary">
          <div class="card-body">
            <div class="chart">
              <canvas id="barChart1" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- STACKED BAR CHART -->
        <div class="card card-success">
          <div class="card-body">
            <div class="chart">
              <canvas id="stackedBarChart1" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- DONUT CHART -->
        <div class="card card-success">
          <div class="card-body">
            <canvas id="donutChart1" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- PIE CHART -->
        <div class="card card-success">
          <div class="card-body">
            <canvas id="pieChart1" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col (Middle) -->
      <div class="col-md-3">
        <!-- BAR CHART -->
        <div class="card card-success">
          <div class="card-body">
            <div class="chart">
              <canvas id="barChart2" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- STACKED BAR CHART -->
        <div class="card card-success">
          <div class="card-body">
            <div class="chart">
              <canvas id="stackedBarChart2" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- DONUT CHART -->
        <div class="card card-success">
  <div class="card-body">
    <canvas id="donutChart2" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
  </div>
  <!-- /.card-body -->
</div>
        <!-- /.card -->
        <!-- PIE CHART -->
        <div class="card card-success">
          <div class="card-body">
            <canvas id="pieChart2" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col (RIGHT) -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

</div>
<!-- /.content-wrapper -->
{% endblock %}

{% block script %}
<script>
  $(function () {
    $('.select2').select2()
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })
    //Bootstrap Duallistbox
    $('.duallistbox').bootstrapDualListbox()

    console.log("aaaa"+"{{analyze.match_data}}")
    console.log("aaaa"+"{{analyze.match_data}}")

    data1 = $('#data1').html()
    data1 = JSON.parse(data1)
    most_dict1 = data1['most']
    len_dict1 = data1['len_dict']
    char_dict1 = data1['char_dict']
    type_dict1 = data1['type_dict']

    data2 = $('#data2').html()
    data2 = JSON.parse(data2)
    most_dict2 = data2['most']
    len_dict2 = data2['len_dict']
    char_dict2 = data2['char_dict']
    type_dict2 = data2['type_dict']

    console.log(data1)
    console.log(data2)

    var lengthData1 = {
      labels: Object.keys(len_dict1),
      datasets: [
        {
          data:Object.values(len_dict1),
          backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
        }
      ]
    }
    var pieData1  ={
      labels: Object.keys(type_dict1),
      datasets: [
        {
          data:Object.values(type_dict1),
          backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
        }
      ]
    }

    var wordChartData1 = {
      labels  : Object.keys(most_dict1),
      datasets: [
        {
          label               : 'Passwords Dict 1',
          backgroundColor     : 'rgba(60,141,188,0.9)',
          borderColor         : 'rgba(60,141,188,0.8)',
          pointRadius          : false,
          pointColor          : '#3b8bba',
          pointStrokeColor    : 'rgba(60,141,188,1)',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data                : Object.values(most_dict1),
        }
      ]
    }
    var charChartData1 = {
      labels  : Object.keys(char_dict1),
      datasets: [
        {
          label               : 'Chars',
          backgroundColor     : 'rgba(60,141,188,0.9)',
          borderColor         : 'rgba(60,141,188,0.8)',
          pointRadius          : false,
          pointColor          : '#3b8bba',
          pointStrokeColor    : 'rgba(60,141,188,1)',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data                : Object.values(char_dict1),
        }
      ]
    }

    var lengthData2 = {
      labels: Object.keys(len_dict2),
      datasets: [
        {
          data:Object.values(len_dict2),
          backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
        }
      ]
    }
    var pieData2  ={
      labels: Object.keys(type_dict2),
      datasets: [
        {
          data:Object.values(type_dict2),
          backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
        }
      ]
    }

    var wordChartData2 = {
      labels  : Object.keys(most_dict2),
      datasets: [
        {
          label               : 'Passwords Dict 2',
          backgroundColor     : 'rgba(60,141,188,0.9)',
          borderColor         : 'rgba(60,141,188,0.8)',
          pointRadius          : false,
          pointColor          : '#3b8bba',
          pointStrokeColor    : 'rgba(60,141,188,1)',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data                : Object.values(most_dict2),
        }
      ]
    }
    var charChartData2 = {
      labels  : Object.keys(char_dict2),
      datasets: [
        {
          label               : 'Chars',
          backgroundColor     : 'rgba(60,141,188,0.9)',
          borderColor         : 'rgba(60,141,188,0.8)',
          pointRadius          : false,
          pointColor          : '#3b8bba',
          pointStrokeColor    : 'rgba(60,141,188,1)',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data                : Object.values(char_dict2),
        }
      ]
    }

    var wordChartOptions = {
      maintainAspectRatio : false,
      responsive : true,
      legend: {
        display: false
      },
      scales: {
        xAxes: [{
          gridLines : {
            display : false,
          }
        }],
        yAxes: [{
          gridLines : {
            display : false,
          }
        }]
      }
    }
    var donutOptions     = {
      maintainAspectRatio : false,
      responsive : true,
    }
    var pieOptions     = {
      maintainAspectRatio : false,
      responsive : true,
    }
    var barChartOptions = {
      responsive              : true,
      maintainAspectRatio     : false,
      datasetFill             : false
    }
    var stackedBarChartOptions = {
      responsive              : true,
      maintainAspectRatio     : false,
      scales: {
        xAxes: [{
          stacked: true,
        }],
        yAxes: [{
          stacked: true
        }]
      }
    }
    //-------------
    //- Length CHART -
    //-------------
    var donutChartCanvas1 = $('#donutChart1').get(0).getContext('2d')
    var donutChart1 = new Chart(donutChartCanvas1, {
      type: 'doughnut',
      data: lengthData1,
      options: donutOptions
    })
    var donutChartCanvas2 = $('#donutChart2').get(0).getContext('2d')
    var donutChart2 = new Chart(donutChartCanvas2, {
      type: 'doughnut',
      data: lengthData2,
      options: donutOptions
    })

    //-------------
    //- Type CHART -
    //-------------
    var pieChartCanvas1 = $('#pieChart1').get(0).getContext('2d')
    var pieChart1 = new Chart(pieChartCanvas1, {
      type: 'pie',
      data: pieData1,
      options: pieOptions
    })
    var pieChartCanvas2 = $('#pieChart2').get(0).getContext('2d')
    var pieChart2 = new Chart(pieChartCanvas2, {
      type: 'pie',
      data: pieData2,
      options: pieOptions
    })
    //-------------
    //- BAR CHART -
    //-------------
    var barChartCanvas1 = $('#barChart1').get(0).getContext('2d')
    var barChart1 = new Chart(barChartCanvas1, {
      type: 'bar',
      data: wordChartData1,
      options: barChartOptions
    })
    var barChartCanvas2 = $('#barChart2').get(0).getContext('2d')
    var barChart2 = new Chart(barChartCanvas2, {
      type: 'bar',
      data: wordChartData2,
      options: barChartOptions
    })

    //---------------------
    //- STACKED BAR CHART -
    //---------------------
    var stackedBarChartCanvas1 = $('#stackedBarChart1').get(0).getContext('2d')
    var stackedBarChart1 = new Chart(stackedBarChartCanvas1, {
      type: 'bar',
      data: charChartData1,
      options: stackedBarChartOptions
    })
    var stackedBarChartCanvas2 = $('#stackedBarChart2').get(0).getContext('2d')
    var stackedBarChart2 = new Chart(stackedBarChartCanvas2, {
      type: 'bar',
      data: charChartData2,
      options: stackedBarChartOptions
    })
  })
</script>
{% endblock %}