<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="../">首页</a>

<h1>modify dict</h1>
<form action="../passwords/mod_dict" method="post">
    <input name="id" value="{{old_dict.id}}" type="text" style="display:none">
    name:<input name="name" value="{{old_dict.name}}" type="text"/>
    type:<input name="type" value="{{old_dict.type}}" type="text">
    location:<input name="location" value="{{old_dict.location}}" type="text">
    <input type="submit">
</form>

</body>
</html>